.block-foot {
    background-color: $background-hero;
    padding-top: 60px;
    padding-bottom: 60px;

    &__general {
        display: flex;
        justify-content: space-between;
      }
  }
  
  .footer-contacts__list {
    margin: 0;
    padding: 20px 0 0;

    .footer-contacts__address {
        font-style: $font-style;
        font-size: 14px;
        line-height: 24px;
        color: $background-color;
        padding-bottom: 9px;
      }

    .footer-contacts__item {
        font-size: 14px;
        line-height: 24px;
        color: $color-fform-pholder;
        padding-top: 9px;
      }
  }

  
 
  