.contacts__list {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;

    .contacts__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: transform 250ms $timing-function;
        transition-property: background-color;
      }
      
      .contacts__icon {
        padding: 0;
        margin-right: 10px;
        fill: currentColor;
      }
  }
  
  .contacts__list .contacts__link {
    color: $additional-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition: transform 250ms $timing-function;
    transition-property: background-color;
  }
  
  .contacts__list .contacts__item + .contacts__item {
    margin-left: 50px;
  }
  
  .contacts__list .contacts__link:hover,
  .contacts__list .contacts__link:focus
   {
    color: $active-color;
  }
  
 
  