ul,
a {
  list-style: none;
  text-decoration: none;
}
header {
    border-bottom: 1px solid $site-border-color;
  }
li {
    margin: 0;
  }
img {
    display: blok;
    max-width: 100%;
    height: auto;
  }