    $background-color: #ffffff;
    $main-text-color: #212121;
    $text-color: #000000;
    $additional-text-color: #757575;
    $active-color: #2196f3;
    $background-hero: #2f303a;
    $background-overlay: #c4c4c4;
    $background-icons: #f5f4fa;
    $site-border-color: #ececec;
    $color-tlink-img: #afb1b8;
    $border-color: #eeeeee;
    $color-gradient: rgba(47, 48, 58, 0.4);
    $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    $drop-bg-color: rgba(0, 0, 0, 0.2);
    $border-form-input: rgba(33, 33, 33, 0.2);
    $color-placeholder: rgba(117, 117, 117, 0.5);
    $box-shadow-color: rgba(0, 0, 0, 0.15);
    $bg-we-do: rgba(47, 48, 58, 0.8);
    $box-shadow-ccard: rgba(0, 0, 0, 0.12);
    $box-shadow-ccard2: rgba(0, 0, 0, 0.14);
    $border-foot-form: rgba(255, 255, 255, 0.3);
    $color-fform-pholder: rgba(255, 255, 255, 0.6);
    $bg-foot-link: rgba(255, 255, 255, 0.1);
    $box-sh-studpr: rgba(0, 0, 0, 0.25);
    $card-overlay: rgba(33, 150, 243, 0.9);
    $font-family: Roboto, sans-serif;
    $font-style: normal;
    $font-weight: normal;
    $letter-spacing: 0.03em;
    $sec-font-family: Raleway, sans-serif;
    $sec-font-weight: bold;
    $border-radius: 4px;